---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import CVBlock  from '../components/CVBlock.astro';
import githubLogo from '../images/svg/github.svg';
import linkedinLogo from '../images/svg/linkedin.svg';
import emailLogo from '../images/svg/email.svg';

const cvBlocks = await getCollection('cv');
cvBlocks.sort((block1, block2) => (block2.data.id - block1.data.id));
---
<html class="bg-[#121212]">
	<head>
		<meta charset="utf-8">
	</head>
	
	<body class="flex flex-col m-0">
		<main class="w-full h-full flex flex-col place-items-center align-middle text-zinc-300">
		<!-- <SideBar></SideBar> -->
			<div>
				<div class="text-left">
				<div class="text-x mt-16 font-medium">Maxim Popov</div>
				<div class="font-thin">Software Developer</div>
				<div class="flex flex-row mt-1 gap-2">
					<a href="http://www.linkedin.com/in/popov-maxim" target="_blank"><img src={linkedinLogo.src} class="socialIcon"></a>
					<a href="https://github.com/nomorehumor" target="_blank"><img src={githubLogo.src} class="socialIcon"></a>
					<a href="mailto:itsmail4max@gmail.com" target="_blank"><img src={emailLogo.src} class="socialIcon"></a>
		
				</div>
				</div>
			
				<div class="text-left mt-8">
				<h2 class="text-left">About</h2>
				<p class="font-light">
					I am a software developer and M.Sc. Computer Science student at <a href="http://www.tu.berlin" class="underline decoration-1">TU Berlin</a>. <br/>
					Currently I am working as a part-time software developer at <a href="http://www.breuer-gmbh.de" class="underline decoration-1">Breuer GmbH</a>.
				</p>
				</div>
			</div>
		
			<!-- <div class="m-5">
				<button id="experience-tablink" :class="{activeTablink: activeTab == 'experience', tablink:true}" v-on:click="this.openTab('experience')">Experience</button>
		
				<span class="w-[1px] h-5 mx-2 bg-zinc-400 inline-block align-middle"></span>
				
				<button id="projects-tablink" :class="{activeTablink: activeTab == 'projects', tablink:true}" v-on:click="this.openTab('projects')">Projects</button>
			</div> -->
		
			<div class="w-1/2 mt-6">
				{cvBlocks.map(block => (<CVBlock cvBlock={block}></CVBlock>))}
			</div>
		
			<!-- <div id="experience" class="tab" v-show="this.activeTab=='experience'"> -->
				<!-- <Experience></Experience> -->
			<!-- </div> -->
			<!-- <div id="projects" class="tab" v-show="this.activeTab=='projects'">
				<div class="text-2xl text-center font-bold text-zinc-500">Take a look at what I did so far:</div>
				<SkillCircle class="mt-4"></SkillCircle>
				<SearchBar class="mt-8"></SearchBar>
				<FilterButtonPanel class="mt-8"></FilterButtonPanel>
			</div> -->
		
			<!-- <Tabs>
				<TabList class="justify-items-center"> 
				<Tab value="0" class="h-10">Experience</Tab>
				<Tab value="1" class="h-10">Projects</Tab>
				</TabList>
				<TabPanels>
				<TabPanel value="0">
					<BriefInfo></BriefInfo>
				</TabPanel>
				<TabPanel value="1">
					<div class="text-2xl text-center font-bold text-zinc-500">Take a look at what I did so far:</div>
					<SkillCircle class="mt-4"></SkillCircle>
					<SearchBar class="mt-8"></SearchBar>
					<FilterButtonPanel class="mt-8"></FilterButtonPanel>
				</TabPanel>
				</TabPanels>
			</Tabs> -->
		
			<div class="flex items-center w-3/4 h-5/8 mt-10 gap-20">
				<div class="basis-1/2 flex flex-col place-items-center">
				
				<!-- <BackgroundWaves color="#606060" :strength="0.15"></BackgroundWaves> -->
				</div>
			</div>
		</main>
		
		<footer class="text-zinc-600 flex justify-center align-middle">
			<div class="flex-col ">
				<p>Maxim Popov 2023</p>
				<div class="text-xs">
					<a target="_blank" href="https://icons8.com/icon/447/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
				</div>
			</div>
		</footer>
	</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
}
main {
	/* z-index: -2; */
	font-family: 'Work Sans', sans-serif;
	flex: 1;
}

.socialIcon {
	@apply w-6;
	@apply transition-transform;
}

.socialIcon:hover {
	@apply fill-gray-600;
	@apply scale-125;
}

.activeTablink {
	@apply text-zinc-50 !important;
	border-bottom: 2px solid !important;
	@apply border-zinc-50;
	transition: all 0.2s ease-in-out;
}

.tablink {
	@apply text-zinc-400;
	border-bottom: 2px solid transparent;
	padding: 0.4em 0.5em;
	transition: all 0.2s ease-in-out;
}

.tablink:hover {
	transition: all 0.2s ease-in-out;
	@apply bg-zinc-700;
	@apply cursor-pointer;
}
</style>
	